@tailwind base;
@tailwind components;
@tailwind utilities;

thead, th {
  padding: 10px;
  /* font-size: larger; */
  text-align: left;
  background-color: rgb(238, 248, 255);
}

tbody, tr, td {
  padding: 10px 0px 10px 10px;
}

.hiding {
  display: none;
  position: absolute;
  /* opacity: 0;
  transition: opacity 0.5s, display 0.5s; */
  /* right: 10px; */
  /* top: 15px; */
}

/* .menuHover:hover , .hiding  { */
/* tr.menuHover:hover .hiding{ */
  .menuHover:hover .hiding{
  display:block;
  /* cursor: pointer; */
  /* opacity: 1; */
}

.menuHover:hover td {
  background-color: rgb(238, 248, 255);
  transition: background-color 400ms ease-out;
  
}
