@tailwind base;
@tailwind components;
@tailwind utilities;

thead, th {
  padding: 10px;
  font-size: larger;
  text-align: left;
  background-color: #DDEAFF;
}

tbody, tr, td {
  padding: 10px;
}

.hiding {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
}

/* .menuHover:hover , .hiding  { */
/* tr.menuHover:hover .hiding{ */
  .menuHover:hover .hiding{
  display:block;
  
}

.menuHover:hover td {
  background-color: #c1d0d8;
  transition: background-color 300ms ease-out;
  
}
